<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/zhangjianxhs/sxt/master/hnzw_inhouse.ipa</string>
				</dict>
				<!-- display-image: the icon to display during download.-->
				<dict>
                                        <key>kind</key>
                                        <string>display-image</string>
                                        <!-- optional. indicates if icon needs shine effect applied. -->
                                        <key>needs-shine</key>
                                        <true/>
                                        <key>url</key>
                                        <string>http://demo.sc.chinaz.com/Files/pic/icons/5658/0.png</string>
                                </dict>
                                 <!-- full-size-image: the large 512x512 icon used by iTunes. --> 
                                <dict>
                                        <key>kind</key>
                                        <string>full-size-image</string>
                                        <key>needs-shine</key>
                                        <true/>
                                        <key>url</key>
                                        <string>https://www.iconfinder.com/icons/53248/download/png/512</string>
                                </dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.xinhuanet.mis.sxt</string>
				<key>bundle-version</key>
				<string>2.0.0828</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>修复部分问题</string>
				<key>title</key>
				<string>新华时讯通海南舆情版</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
