<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/zhangjianxhs/sxt/master/lnfb.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.xinhuanet.mis.lnfb</string>
				<key>bundle-version</key>
				<string>1.0.4</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>增加文章中图片放大功能</string>
				<key>title</key>
				<string>辽宁发布</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
